ansible==6.7.0
ansible-core==2.13.13
attrs==25.3.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
distro==1.9.0
docker==7.1.0
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
idna==3.10
jinja2==3.1.6
jsonschema==3.2.0
MarkupSafe==2.1.5
packaging==24.2
pycparser==2.22
pyrsistent==0.20.0
python-dotenv==0.21.1
PyYAML==5.4.1
requests==2.32.3
resolvelib==0.8.1
six==1.17.0
texttable==1.7.0
urllib3==2.2.3
websocket-client==0.59.0
